<a href="https://colab.research.google.com/github/hardik-kumar-10/UCS712/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=input("enter your name: ")
for i in range(0,3):
  print(n)

enter your name: hardik kumar
hardik kumar
hardik kumar
hardik kumar

In [2]:
a=10
b=20
c=30
d=a+b+c
print("sum of the three numbers is: ",d)

sum of the three numbers is:  60

In [4]:
a="Hardik"
b="Kumar"
c="COPC"
d=a+b+c
print("strings after concatenation are: ",d)

strings after concatenation are:  HardikKumarCOPC

In [8]:
n=7
i=1
for i in range(1,11):
  print(n," x ",i," = ",n*i)

7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

In [9]:
n=9
i=1
for i in range(1,11):
  print(n," x ",i," = ",n*i)

9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90

In [10]:
n=int(input("enter the no of which you want the table"))
i=1
for i in range(1,11):
  print(n," x ",i," = ",n*i)

enter the no of which you want the table23
23  x  1  =  23
23  x  2  =  46
23  x  3  =  69
23  x  4  =  92
23  x  5  =  115
23  x  6  =  138
23  x  7  =  161
23  x  8  =  184
23  x  9  =  207
23  x  10  =  230

In [12]:
n=int(input("enter the no of which you want the table"))
i=1
sum=0
for i in range(1,n+1):
  sum=sum+i
  i=i+1
print("sum of numbers from 1 to n is: ",sum)

enter the no of which you want the table10
sum of numbers from 1 to n is:  55

In [16]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("enter third number: "))
maximum=max(a,b,c)
print("the max number is",maximum)

enter first number: 2
enter second number: 3
enter third number: 4
the max number is 4

In [24]:
n=int(input("enter till where you want the sum: "))

sum=0

for i in range(1,n+1):
  if i%7==0 and i%9==0:
    sum=sum+i

print("the sum is: ",sum)

enter till where you want the sum: 100
the sum is:  63

In [28]:
n = int(input("Enter the value of n: "))

sum = 0

for num in range(2, n + 1):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        sum += num
print(f"The sum of all prime numbers from 1 to {n} is: {sum}")

Enter the value of n: 20
The sum of all prime numbers from 1 to 20 is: 77

In [31]:
def addOdd(n):
  sum=0
  for i in range(1,n+1):
    if i%2==0:
      continue
    sum=sum+i
  return sum

n=int(input("till where you want odd numebrs sum: "))
print("sum of ",n,"odd numbers is ",addOdd(n))

till where you want odd numebrs sum: 10
sum of  10 odd numbers is  25

In [34]:
def Sum_Prime(n):
  sum = 0
  for num in range(2, n + 1):
      for i in range(2, num):
          if num % i == 0:
              break
      else:
          sum += num
  return sum

n = int(input("Enter the value of n: "))
print("The sum of all prime numbers from 1 to", n, "is:", Sum_Prime(n))

Enter the value of n: 10
The sum of all prime numbers from 1 to 10 is: 17